.card-img-top{
     width: 100%;
    height: 30vh;
     /* object-fit: cover; */
}

.card{
    width: 14vw;
}

.carousel{
    margin: auto;
    border-radius: 5px;
    
}

.carousel-img{
    border-radius: 25px;
}

.carousel-item, .carousel-img{
    height: 80vh;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.product-card{
    text-align: center;
}

.add-to-cart-btn, .product-details-btn{
    /* width: 100%;
    margin: 0;
    padding: 0; */
    width: 100%;
    border-radius: 0;
}

.card-body{
    padding: 0;
}

.product-details-container{
    margin: 2vw
}


.product-details-img{
    height: 40vh;
}

.product-info-col{
    padding: 0;
}

.btn-secondary{
    background-color: rgb(166, 166, 166);
    border: 0;
}